Repository tier4/caret_doc, pull requests merged in 2023-11, with the labels that each got.

#304 docs: update caret_init
  docs/design/trace_points/initialization_trace_points.md
Labels: deploy-docs

#311 docs(changelog): update changelog for tag v0.4.20
  docs/changelog.md
Labels: tag:deploy-docs

#313 fix: y-axis of histogram probability to the number of samples
  docs/imgs/callback_frequency_histogram.png
  docs/imgs/callback_latency_histogram.png
  docs/imgs/callback_period_histogram.png
  docs/imgs/communication_frequency_histogram.png
  docs/imgs/communication_latency_histogram.png
  docs/imgs/communication_period_histogram.png
  docs/visualization/frequency/index.md
  docs/visualization/imgs/response_time_histogram_all.png
  docs/visualization/imgs/response_time_histogram_best.png
  docs/visualization/imgs/response_time_histogram_worst.png
  docs/visualization/imgs/response_time_histogram_worst_with_external_latency.png
  docs/visualization/latency/index.md
  docs/visualization/path/response_time.md
  docs/visualization/period/index.md
Labels: deploy-docs, tag:deploy-docs

#309 docs(faq): how to record applications that include RelayNode
  docs/faq/faq.md
Labels: deploy-docs, tag:deploy-docs
