Repository tier4/caret_doc, pull requests merged in 2024-02, with the labels that each got.

#328 docs: remove old environments
  docs/design/limits_and_constraints/index.md
  docs/faq/faq.md
  docs/installation/installation.md
Labels: tag:deploy-docs

#330 docs(changelog): update changelog for tag v0.4.25
  docs/changelog.md
Labels: deploy-docs, tag:deploy-docs

#331 fix: apply remove old API of response time histogram
  docs/gallery.md
Labels: deploy-docs
